# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment / Secretos
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Outputs temporales
data/processed/
*.log

*.pkl
docs/cltv/*.pkl