# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment / Secretos
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Outputs temporales
data/processed/
data/raw/
*.log
etl/logs/
*.pkl
docs/cltv/*.pkl